:root {
  --background-color-body: #ffffff;
  --background-color-footer: #000000;
  --text-color-footer: #e6b400;
  --background-color-header: #000000;
  --text-color-logo: #ffdb58;
  --text-color-nav-link: #e6b400;  
  --text-color-nav-hover: #ffffff;
  --button-color: #007bff;
  --button-hover-color: #0056b3;
  --background-color-section: #f8f8f8;
  --border-color-section: #dddddd;
  --text-color-section-heading: #333333;
  --text-color-section-summary: #007bff;
  --text-color-alert: #ff0000;
  --background-color-switch: #cccccc;
  --switch-color: #ffffff;
  --background-color-switch-checked: #2196f3;
  --text-color-switch-label: #ffffff;
  --background-color-hero-nav: #00000080;
  --text-color-hero-nav: #ffffff;
  --background-color-light-mode: #515152;
  --text-color-light-mode: #ffffff;
  --background-color-light-mode-navigation: #8e6363;
  --text-color-light-mode-year: #000000;
  --text-color-light-mode-logo: #000000;
  --text-color-light-mode-nav: #000000;
  --text-color-light-mode-nav-hover: #2196f3;
  --background-color-light-mode-header: #e6b400;
  --background-color-light-mode-footer: #e6b400;
  --text-color-light-mode-footer: #000000;
}